<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your choices</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="tabContent">
                    <li class="active"><a href="#details" data-toggle="tab">Family</a></li>
                    <li><a href="#access-security" data-toggle="tab">Healthcare</a></li>
                    <li><a href="#networking" data-toggle="tab">Wishes</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="details">
                        <form>
                            <div class="form-group">
                                <label for="family-who">Who would you like to be here with you?</label>
                                <textarea class="form-control" id="family-who"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="family-tradition">Are there any spiritual or family traditions that are
                                    important to you?</label>
                                <textarea class="form-control" id="family-tradition"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="access-security">
                        <form>
                            <div class="form-group">
                                <label for="sickness-level">If you were sick how much do you want to know about
                                    it?</label>
                                <select class="form-control" id="sickness-level">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sickness-who">Who would you like to know about your sickness?</label>
                                <textarea class="form-control" id="sickness-who"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="sickness-where">Where would you like to be looked after?</label>
                                <div>
                                    <input type="checkbox" id="where-home" name="sickness-where" value="home">
                                    <label for="where-home">Home</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="where-hospice" name="sickness-where" value="hospice">
                                    <label for="where-hospice">Hospice</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="where-hospital" name="sickness-where" value="hospital">
                                    <label for="where-hospital">Hospital</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="where-family" name="sickness-where" value="family">
                                    <label for="where-family">Family members house</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="where-other" name="sickness-where" value="other">
                                    <label for="where-other">Somewhere else</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sickness-additional">Additional details?</label>
                                <textarea class="form-control" id="sickness-additional"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="networking">
                        <form>
                            <div class="form-group">
                                <label for="wishes-will">Do you have a will?</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-will" value="yes">&nbsp;&nbsp;Yes</label>
                                </div>
                                <div>
                                    <label><input type="radio" name="wishes-will" value="no">&nbsp;&nbsp;No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wishes-filled">Have you filled out</label><br/>

                                <label for="wishes-filled-arp">ARP</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-filled-arp"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-filled-arp"
                                                  value="no">&nbsp;&nbsp;No</label>
                                </div>

                                <label for="wishes-filled-soc">SOC</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-filled-soc"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-filled-soc"
                                                  value="no">&nbsp;&nbsp;No</label>
                                </div>

                                <label for="wishes-filled-soc">AHD</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-filled-ahd"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-filled-ahd"
                                                  value="no">&nbsp;&nbsp;No</label>
                                </div>

                                <label for="wishes-filled-epoa">EPOA</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-filled-epoa"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-filled-epoa"
                                                  value="no">&nbsp;&nbsp;No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wishes-plan">Do you have a funeral plan?</label>
                                <textarea class="form-control" id="wishes-plan"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="wishes-organs">Do you want to donate your organs</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-organs"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-organs"
                                                  value="no">&nbsp;&nbsp;No</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-organs"
                                                  value="unsure">&nbsp;&nbsp;Unsure</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wishes-myhealth">Do you have a My Health record?</label><br/>
                                <div>
                                    <label><input type="radio" name="wishes-myhealth"
                                                  value="yes">&nbsp;&nbsp;Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-myhealth"
                                                  value="no">&nbsp;&nbsp;No</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="wishes-myhealth"
                                                  value="unsure">&nbsp;&nbsp;Unsure</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-choices" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>