<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="summaryLabel">Summary</h5>
            </div>
            <div class="modal-body">
                <b>Who would you like to be here with you?</b><br/>
                <label id="choices-family-who"></label><br/><br/><br/>

                <b>Are there any spiritual or family traditions that are
                                    important to you?</b><br/>
                <label id="choices-family-tradition"></label><br/><br/><br/>

                <hr/>

                <b>If you were sick how much do you want to know about
                                    it?</b><br/>
                <label id="choices-sickness-level"></label><br/><br/><br/>

                 <b>Who would you like to know about your sickness?</b><br/>
                <label id="choices-sickness-who"></label><br/><br/><br/>

                <b>Where would you like to be looked after?</b><br/>
                <label id="choices-sickness-where"></label><br/><br/><br/>

                <b>Additional details?</b><br/>
                <label id="choices-sickness-addtional"></label><br/><br/><br/>

                <hr>

                <b>Do you have a will?</b><br/>
                <label id="choices-wishes-will"></label><br/><br/><br/>

                <b>ARP</b><br/>
                <label id="choices-wishes-arp"></label><br/><br/><br/>

                <b>SOC</b><br/>
                <label id="choices-wishes-soc"></label><br/><br/><br/>

                <b>AHD</b><br/>
                <label id="choices-wishes-ahp"></label><br/><br/><br/>

                <b>EPOA</b><br/>
                <label id="choices-wishes-epoa"></label><br/><br/><br/>

                <b>Do you have a funeral plan?</b><br/>
                <label id="choices-wishes-plan"></label><br/><br/><br/>

                <b>Do you want to donate your organs?</b><br/>
                <label id="choices-wishes-organs"></label><br/><br/><br/>

                <b>Do you have My Health record?</b><br/>
                <label id="choices-wishes-myhealth"></label><br/><br/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>