<section class="screen">
    <img
            src="../../images/slides/2/1.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="4"
            data-v-speed="0"
            data-h-distance="50"
            data-v-distance="0"
            style="position: fixed; z-index: 0;"
    />
    <img
            src="../../images/slides/2/2.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="1"
            data-v-speed="0"
            data-h-distance="0"
            data-v-distance="0"
            style="position: fixed; z-index: 1;"
    />
    <img
            src="../../images/slides/2/3.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="0"
            data-v-speed="1"
            data-h-distance="50"
            data-v-distance="10"
            style="position: fixed; z-index: 2;"
    />
    <div class="speech-box-2">
        <p>A peaceful moment...</p>
    </div>
    <div class="btn-round green next-slide" style="z-index: 11; position: fixed; bottom: 10px; right: 10px;"><span>></span></div>
</section>