<section class="screen">
    <img
            src="../../images/slides/3/1.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="2"
            data-v-speed="0"
            data-h-distance="50"
            data-v-distance="0"
            style="position: fixed; z-index: 0;"
    />
    <img
            src="../../images/slides/3/2.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="1"
            data-v-speed="0"
            data-h-distance="0"
            data-v-distance="0"
            style="position: fixed; z-index: 1;"
    />
    <img
            src="../../images/slides/3/3.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="4"
            data-v-speed="1"
            data-h-distance="50"
            data-v-distance="5"
            style="position: fixed; z-index: 2;"
    />
    <img
            src="../../images/slides/3/4.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="0"
            data-v-speed="1"
            data-h-distance="50"
            data-v-distance="0"
            style="position: fixed; z-index: 2;"
    />
    <img
            src="../../images/slides/3/5.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="0"
            data-v-speed="1"
            data-h-distance="50"
            data-v-distance="5"
            style="position: fixed; z-index: 2;"
    />
    <div class="speech-box-4">
        <p>Really makes you think,</p>
    </div>
    <div class="btn-round btn-blue" data-toggle="modal" data-target="#myModal" style="z-index: 10; position: fixed; bottom: 10px; right: 85px;">
        <span>+</span>
    </div>
    <div class="btn-round green next-slide" style="z-index: 11; position: fixed; bottom: 10px; right: 10px;"><span>></span></div>
</section>