<section class="screen">
    <img
        src="../../images/slides/5/2.png"
        class="animate"
        data-pos-x="-51.2"
        data-pos-y="-38.4"
        data-h-speed="4"
        data-v-speed="1"
        data-h-distance="50"
        data-v-distance="5"
        style="position: fixed; z-index: 2;"
    />
    <img
            src="../../images/slides/5/1.png"
            class="animate"
            data-pos-x="-51.2"
            data-pos-y="-38.4"
            data-h-speed="2"
            data-v-speed="2"
            data-h-distance="10"
            data-v-distance="10"
            style="position: fixed; z-index: 3;"
    />
    
    <div class="speech-box-5">
        <p>Oh! Looks like I've landed one!</p>
    </div>
    <div class="btn-round green previous-slide" style="z-index: 11; position: fixed; bottom: 10px; left: 10px;">
        <span><</span>
    </div>
    <div class="btn-round green next-slide" style="z-index: 11; position: fixed; bottom: 10px; right: 10px;"><span>></span></div>
</section>