{% extends "base.html" %} 
{% block content %}
    <h2>Advanced Care Yarning</h2>
    <form action="login" method="POST" name="form">
        <input type="hidden" name="ajax" value="False" />
        <div class="col-md-4 col-md-offset-4 text-center">
            {{ loginform.hidden_tag() }}
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                {{ loginform.username }}
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                {{ loginform.password }}
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}